/* Organic White Theme (White) */
/*
*	@title: Organic White
*	@authors: Enoch Hsiao & Nick Swider
*/
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
/*
 * @title : Default App Styles
 * @author : Nick Swider
 * @requires : @theme, @title_color, @text_color
 */
/************ Standard Padding For All Pages, temporarily put here so all themes get it ************/
.webs-container {
  padding: 10px;
}
.webs-text p {
  padding: 0;
}
/**************************************************************************************************/
/* Fixing sign-in form font problems */
input[type=text],
input[type=email],
input[type=password],
textarea {
  color: #666666;
}
.webs-content .fw-message,
.webs-content .fw-flash {
  border-color: #cccccc;
  background-color: #ededed;
  color: #212121;
}
.webs-content .fw-message h2,
.webs-content .fw-flash h2 {
  color: #333333;
}
.webs-content .fw-message a,
.webs-content .fw-flash a {
  color: #8c8c8c;
}
.webs-content .fw-message a:hover,
.webs-content .fw-flash a:hover {
  color: #a6a6a6;
}
.webs-content table.fw-fixed td {
  vertical-align: top;
}
.webs-content .fw-even {
  border-color: #cccccc;
}
.webs-content .webs-body .fw-tabs {
  height: 35px;
}
.webs-content .webs-body .fw-tabs .fw-tab-item {
  background: #eeeeee;
  border-color: #888888;
}
.webs-content .webs-body .fw-tabs .fw-tab-item a {
  color: #666666;
}
.webs-content .webs-title .pageTitle {
  margin-bottom: 10px !important;
  margin-right: 10px;
}
.webs-content #fw-menubar_aux {
  border: none !important;
}
.webs-content .fw-button {
  background: #a1a1a1 !important;
  border: 1px solid #7d7d7d !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: .5em .9em !important;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
  color: #fff !important;
  opacity: 1 !important;
  filter: none !important;
}
.webs-content .fw-button:hover {
  background: #8c8c8c !important;
}
.webs-content .w-button-sb2_default a.w-button {
  background: #a1a1a1;
  border: 1px solid #7d7d7d;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .5em .9em;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
}
.webs-content .w-button-sb2_default a.w-button:hover {
  background: #8c8c8c;
}
.webs-content .w-button-sb2_default a.w-button .w-button-text {
  color: #fff;
}
.webs-content .fw-editor-label {
  padding: 5px !important;
}
.webs-content .fw-searchContainer {
  width: 225px;
  position: relative;
  border: 0;
  background: none;
  padding: 4px 0;
  /* clearfix */

  zoom: 1;
}
.webs-content .fw-searchContainer .fw-searchbox {
  width: 100%;
  float: left;
}
.webs-content .fw-searchContainer .fw-searchSubmit {
  position: absolute;
  right: -4px;
  top: 50%;
  margin-top: -12px !important;
  z-index: 1;
  border: none;
  background-image: url('http://static.websimages.com/static/projects/finch/themes/app_search_ie.png');
  background-image: url('data:image/svg+xml;charset=iso-8859-1, %3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23eeeeee%22%20stroke-width%3D%222%22%20cx%3D%226.099%22%20cy%3D%226.1%22%20r%3D%224.999%22/%3E%3Cline%20fill%3D%22none%22%20stroke%3D%22%23eeeeee%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20x1%3D%229.828%22%20y1%3D%229.828%22%20x2%3D%2214.9%22%20y2%3D%2214.9%22/%3E%3C/g%3E%3C/svg%3E');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  cursor: pointer;
}
.webs-content .fw-searchContainer:before,
.webs-content .fw-searchContainer:after {
  content: "";
  display: table;
}
.webs-content .fw-searchContainer:after {
  clear: both;
}
.webs-content #blogFields td {
  padding: 1px 0;
}
.webs-content .fwcalendar {
  border-collapse: collapse;
}
.webs-content .weekdayHeader {
  border-color: #666666;
}
.webs-content .weekdayHeader:first-child {
  border-color: #666666;
}
.webs-content .weekdayHeader:last-child {
  border-color: #666666;
}
.webs-content .albumTitle {
  display: inline;
}
.webs-content .webs-text .fw-album_meta {
  list-style: none;
}
.webs-content .fw-button-paypal {
  position: relative;
}
.webs-content .fw-button-paypal:after {
  content: "";
  margin: 2px 0;
  position: absolute;
  top: 50%;
  right: 4px;
  display: inline-block;
  background: transparent url("http://static.websimages.com/rails-static/webstore/images/paypal_24.png") no-repeat left top;
  width: 77px;
  padding: 0;
  height: 20px;
  margin-top: -9px;
}
.webs-content .categoryLinks .link {
  list-style-type: none;
}
.webs-content .webs-module-undefined,
.webs-content .webs-module-null {
  color: #666666;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.webs-content .webs-module-undefined a,
.webs-content .webs-module-null a {
  color: #3399ff;
}
.webs-content .webs-module-undefined a:hover,
.webs-content .webs-module-null a:hover {
  color: #3399ff;
}
.webs-content .webs-module-undefined .fw-list-grid,
.webs-content .webs-module-null .fw-list-grid {
  width: 100%;
}
.webs-content .webs-module-undefined .icon-link,
.webs-content .webs-module-null .icon-link {
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-top: 2px;
}
.webs-content .webs-module-undefined #item-manage-website a.icon-link,
.webs-content .webs-module-null #item-manage-website a.icon-link {
  background-image: url('http://images.webs.com/static/global/icons/silk/page_edit.png');
}
.webs-content .webs-module-undefined img.fw-photo,
.webs-content .webs-module-null img.fw-photo {
  border: 1px solid #ccc;
  padding: 2px;
  background-color: #fff;
}
.webs-content .webs-module-undefined .fw-list-grid,
.webs-content .webs-module-null .fw-list-grid {
  width: 100%;
}
.webs-content .webs-module-undefined .fw-list-grid img.fw-profile-pic,
.webs-content .webs-module-null .fw-list-grid img.fw-profile-pic {
  border: 1px solid #ccc;
  padding: 2px;
  background-color: #fff;
  width: 60px !important;
  height: 60px !important;
}
.webs-content .webs-module-undefined .fw-list-list,
.webs-content .webs-module-null .fw-list-list {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
.webs-content .webs-module-undefined .fw-list-list li,
.webs-content .webs-module-null .fw-list-list li {
  clear: both;
}
.webs-content form .whiteBox {
  color: #eeeeee;
  background: none;
}
.webs-content .theme-color-text {
  color: #666666;
}
/*
 * This is the correct way to calculate which color to use ... but we can't do this because
 * luma isn't supported in our version of less.js.  When we move to node and are using the latest
 * less.js, we can use this methods directly over calculating the correct luma values in javascript
.determineColorLegibleFromTextColor (@input_color) when (abs(luma(@text_color) - luma(@input_color)) > 43%) {
	color: @text_color;
}
.determineColorLegibleFromTextColor (@input_color) when (abs(luma(@text_color) - luma(@input_color)) <= 43%) {
	color: @input_color;
}
*/
.webs-outer.fw-persistent-cart-header {
  margin: -8px -8px 0;
  padding: 16px 0 8px;
  background: #000;
  position: relative;
  z-index: 100;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container {
  width: 960px;
  margin: 0 auto;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container .fw-pcart-button-container {
  display: inline-block;
  text-align: right;
  width: 100%;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container .fw-pcart-button-container .fw-pcart-button {
  color: #000;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: .5em .9em;
  background-color: #eeeeee;
  text-decoration: none;
  font-family: "Helvetica", Arial, Sans-Serif;
  font-weight: 300;
  transition: background-color 0.3s ease;
  font-size: 14px;
  line-height: 14px;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container .fw-pcart-button-container .fw-pcart-button:hover {
  background-color: #ffffff;
}
.ie7 .webs-content .fw-searchContainer .fw-searchSubmit,
.ie8 .webs-content .fw-searchContainer .fw-searchSubmit,
.ie9 .webs-content .fw-searchContainer .fw-searchSubmit {
  background-image: url('http://static.websimages.com/static/projects/finch/themes/app_search_ie.png');
}
/************************************************* Fonts *************************************************/
.webs-nav {
  color: #efefef;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.webs-nav a {
  color: #333333;
}
.webs-nav a:hover {
  color: #ffffff;
}
.webs-title {
  color: #333333;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.webs-title a {
  color: #3399ff;
}
.webs-title a:hover {
  color: #3399ff;
}
.w-header-text-container .w-header-title {
  font-family: 'Metrophobic', sans-serif;
}
.w-header-text-container .w-header-subtitle {
  font-family: 'Helvetica Neue', sans-serif;
}
body,
.webs-text,
.w-header-text,
input[type=text],
input[type=email],
input[type=password],
textarea {
  color: #666666;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
body a,
.webs-text a,
.w-header-text a,
input[type=text] a,
input[type=email] a,
input[type=password] a,
textarea a {
  color: #3399ff;
}
body a:hover,
.webs-text a:hover,
.w-header-text a:hover,
input[type=text] a:hover,
input[type=email] a:hover,
input[type=password] a:hover,
textarea a:hover {
  color: #3399ff;
}
footer.footer,
footer.footer .webs-text,
footer.footer,
footer.footer input[type=text],
footer.footer input[type=email],
footer.footer input[type=password],
footer.footer textarea {
  color: #666666;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  line-height: 14px;
}
footer.footer a,
footer.footer .webs-text a,
footer.footer a,
footer.footer input[type=text] a,
footer.footer input[type=email] a,
footer.footer input[type=password] a,
footer.footer textarea a {
  color: #3399ff;
}
footer.footer a:hover,
footer.footer .webs-text a:hover,
footer.footer a:hover,
footer.footer input[type=text] a:hover,
footer.footer input[type=email] a:hover,
footer.footer input[type=password] a:hover,
footer.footer textarea a:hover {
  color: #3399ff;
}
footer.footer .webs-title {
  color: #333333;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
}
footer.footer .webs-title a {
  color: #3399ff;
}
footer.footer .webs-title a:hover {
  color: #3399ff;
}
body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  background: #dedad7 url("http://www.corrective-security-action.com/backEdited.png") repeat 0 0;
}
.wrap {
  margin: 20px auto 20px;
  padding: 20px;
  width: 960px;
  background: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.organic_white_frame {
  border: 5px solid #eeeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  text-decoration: underline;
  outline: none;
}
a img {
  border: none;
}
input[type=text],
input[type=email],
input[type=password],
textarea,
input.fw-editor-text {
  display: block;
  padding: 5px;
  width: 100%;
  background: #f2f2f2;
  border: solid 1px #d9d9d9;
  outline: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
input.fw-editor-text:focus,
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
textarea:hover,
input.fw-editor-text:hover {
  background: #e6e6e6;
}
/* --- header --- */
#header {
  position: relative;
  z-index: 1;
  margin: 0 auto 0;
  padding: 0;
  width: 960px;
  height: 100px;
  background: none;
  zoom: 1;
}
.w-header-area {
  height: 100px;
}
.w-header-title {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  width: 960px;
  color: #000;
}
.w-header-subtitle {
  width: 960px;
  font-size: 16px;
  line-height: 1.2;
  color: #999999;
  text-align: center;
}
/* --- nav --- */
.nav-wrap-outer {
  position: relative;
  z-index: 9;
  margin: 0 auto 10px;
  width: 960px;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-wrap {
  margin-bottom: 0;
  float: left;
}
.nav-wrap li {
  position: relative;
  float: left;
}
.nav-wrap li:hover {
  visibility: inherit;
  background: none;
  outline: 0;
}
.nav-wrap li a {
  display: block;
  position: relative;
  margin: 0 5px 0 0;
  padding: 14px 10px;
  line-height: 1;
  text-decoration: none;
  border-left: none;
  border-top: none;
}
.nav-wrap li:hover > a,
.nav-wrap li:focus > a,
.nav-wrap li:active > a {
  background: #efefef;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nav-wrap li:hover > a:hover,
.nav-wrap li:focus > a:hover,
.nav-wrap li:active > a:hover {
  background: #333333;
  color: #ffffff;
}
.nav-wrap li:hover li > a,
.nav-wrap li:focus li > a,
.nav-wrap li:active li > a {
  margin: 2px 2px 0 0;
  padding: 6px 10px;
  line-height: 1.6;
  color: #333333;
  text-decoration: none;
  text-transform: none;
  background: #efefef;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nav-wrap li:hover li > a:hover,
.nav-wrap li:focus li > a:hover,
.nav-wrap li:active li > a:hover,
.nav-wrap li:hover li > a:focus,
.nav-wrap li:focus li > a:focus,
.nav-wrap li:active li > a:focus,
.nav-wrap li:hover li > a:active,
.nav-wrap li:focus li > a:active,
.nav-wrap li:active li > a:active {
  background: #333333;
  color: #ffffff !important;
}
.nav-wrap li:hover li:hover > a,
.nav-wrap li:focus li:hover > a,
.nav-wrap li:active li:hover > a {
  background: #efefef;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nav-wrap li:hover li:hover > a:hover,
.nav-wrap li:focus li:hover > a:hover,
.nav-wrap li:active li:hover > a:hover {
  background: #333333;
  color: #ffffff;
}
.nav-wrap li ul {
  position: absolute;
  top: -9999px;
  min-width: 160px;
}
.nav-wrap li ul li {
  width: 100%;
}
.nav-wrap li ul:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12P4//8/AwAI/AL+XJ/P2gAAAABJRU5ErkJggg==) repeat;
  z-index: -1;
  zoom: 1;
}
.nav-wrap ul li:hover ul {
  top: 40px;
  left: 0;
  z-index: 99;
}
.nav-wrap ul li:hover ul li ul {
  top: -9999px;
}
.nav-wrap ul li ul li:hover ul {
  left: 160px;
  top: 0px;
}
.nav-wrap > ul > li.active > a {
  color: #ffffff;
  background-color: #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* --- main --- */
.content_inner {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 10px 0 0;
  width: 960px;
  overflow: visible;
}
.contentleft {
  margin: 0;
  padding: 10px 0;
  width: 660px;
  float: left;
  background: none;
}
.contentright {
  margin: 0;
  padding: 10px 0;
  width: 660px;
  float: right;
  background: none;
}
.contentwide {
  margin: 0;
  padding: 10px 0;
  width: 960px;
  float: left;
  background: none;
}
.webs-body {
  min-height: 360px;
}
/* --- sidebar --- */
.sidebar {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  width: 270px;
  min-height: 360px;
}
.sidebarLeft {
  margin-right: 15px;
  float: left;
}
.sidebarRight {
  margin-left: 15px;
  float: right;
}
/* --- footer --- */
.footer {
  display: block;
  margin: 0 auto;
  padding: 12px 5px 0;
  width: 950px;
  min-height: 34px;
  border-top: 1px solid #eeeeee;
}
/* --- app style overrides --- */
.webs-content .fw-button {
  background-color: #dadada !important;
}
.webs-content .fw-button:hover {
  background-color: #c5c5c5 !important;
}



/* Frames */
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
div.webs-align-center {
  margin: 0 auto;
  display: block;
}
div.webs-align-left {
  float: left;
}
div.webs-align-right {
  float: right;
}
div.webs-frame {
  display: table;
}
div.webs-frame .webs-hasframe {
  margin: 0;
  float: none;
}
.webs-bin-active .webs-frame:hover .covering {
  display: none;
}
div.webs-frame-default {
  background-color: #fff;
  border: 1px solid #ccc;
}
div.webs-frame-default .webs-frame-container {
  position: relative;
  margin: 4px;
}
div.webs-frame-thickborder {
  background-color: #e1e1e1;
}
div.webs-frame-thickborder .webs-frame-container {
  position: relative;
  margin: 6px;
}
div.webs-frame-u_shadow {
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
}
div.webs-frame-u_shadow .webs-frame-container {
  margin: 4px;
  position: relative;
}
div.webs-frame-u_shadow div.webs-frame-shadow {
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
}
div.webs-frame-u_shadow div.webs-frame-shadow > span.webs-frame-shadow-tile {
  display: block;
  margin: 0 50px;
  height: 100%;
  background: transparent url('../images/frames/u_shadow.png') repeat-x 0 -6px;
}
div.webs-frame-u_shadow div.webs-frame-shadow:before,
div.webs-frame-u_shadow div.webs-frame-shadow:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 3px;
  width: 50px;
  background: transparent url('../images/frames/u_shadow.png') 0 0;
}
div.webs-frame-u_shadow div.webs-frame-shadow:before {
  left: 0;
}
div.webs-frame-u_shadow div.webs-frame-shadow:after {
  right: 0;
  background-position: 0 -3px;
}
div.webs-frame-inner_opacity {
  position: relative;
}
div.webs-frame-inner_opacity .webs-frame-top,
div.webs-frame-inner_opacity .webs-frame-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 7px;
}
div.webs-frame-inner_opacity .webs-frame-top:after,
div.webs-frame-inner_opacity .webs-frame-bottom:after {
  content: "";
  display: block;
  margin: 0 7px;
  height: 7px;
}
div.webs-frame-inner_opacity .webs-frame-top {
  top: 0;
}
div.webs-frame-inner_opacity .webs-frame-bottom {
  bottom: 0;
}
div.webs-frame-inner_opacity .webs-frame-left,
div.webs-frame-inner_opacity .webs-frame-right {
  position: absolute;
  top: 0;
  width: 7px;
  height: 100%;
}
div.webs-frame-inner_opacity .webs-frame-left {
  left: 0;
}
div.webs-frame-inner_opacity .webs-frame-right {
  right: 0;
}
div.webs-frame-inner_opacity-light .webs-frame-top:after,
div.webs-frame-inner_opacity-light .webs-frame-bottom:after,
div.webs-frame-inner_opacity-light .webs-frame-left,
div.webs-frame-inner_opacity-light .webs-frame-right {
  background: rgba(255, 255, 255, 0.3);
}
div.webs-frame-inner_opacity-dark .webs-frame-top:after,
div.webs-frame-inner_opacity-dark .webs-frame-bottom:after,
div.webs-frame-inner_opacity-dark .webs-frame-left,
div.webs-frame-inner_opacity-dark .webs-frame-right {
  background: rgba(0, 0, 0, 0.4);
}
div.webs-frame-double_contrast {
  background-color: #333;
}
div.webs-frame-double_contrast .webs-frame-container1 {
  position: relative;
  margin: 7px;
  background: #fff;
  border: 1px solid #1f1f1f;
}
div.webs-frame-double_contrast .webs-frame-container2 {
  margin: 4px;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
}
div.webs-frame-paper div.webs-frame-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px;
  position: relative;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade {
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade > span.webs-frame-paper-tile {
  display: block;
  margin: 0 34px;
  height: 100%;
  background: transparent url('../images/frames/papershade.png') repeat-x 0 -8px;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:before,
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 8px;
  width: 34px;
  background: transparent url('../images/frames/papershade.png') 0 0;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:before {
  left: 0;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:after {
  right: 0;
  background-position: 0 100%;
}
div.webs-frame-tape {
  position: relative;
  padding: 6px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
div.webs-frame-tape div.webs-frame-tape-left,
div.webs-frame-tape div.webs-frame-tape-right {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -35px;
  z-index: 1;
  background: transparent url('../images/frames/tape.png') no-repeat 0 0;
}
div.webs-frame-tape div.webs-frame-tape-left-container {
  position: absolute;
}
div.webs-frame-tape div.webs-frame-tape-right-container {
  position: relative;
}
div.webs-frame-tape div.webs-frame-tape-left {
  left: -35px;
}
div.webs-frame-tape div.webs-frame-tape-right {
  right: -35px;
  background-position: 100% 0;
}
div.webs-frame-album {
  position: relative;
  padding: 20px 15px 20px 43px;
  background: #71789f url('../images/frames/album-noise.png') 0 0;
  box-shadow: inset 30px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.1), 4px 4px 0 rgba(0, 0, 0, 0.5), 3px 3px 0 rgba(0, 0, 0, 0.15), 2px 2px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
div.webs-frame-album div.webs-frame-album-bind {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: #222222 url('../images/frames/album-binder.png') repeat-y 0 0;
}
div.webs-frame-album div.webs-frame-album-container {
  border: 1px solid #aaa;
  outline: 1px solid #333;
  box-shadow: 0 0 4px #000;
}
div.webs-frame-thumbtack {
  position: relative;
  padding: 15px;
  background: #fff;
  border: 1px solid #aaa;
}
div.webs-frame-thumbtack div.webs-frame-thumbtack-pin {
  position: absolute;
  left: 50%;
  top: -29px;
  width: 31px;
  height: 40px;
  margin-left: -10px;
  background: url('../images/frames/thumbtack.png') no-repeat 0 0;
}
div.webs-frame-thumbtack div.webs-frame-thumbtack-container {
  border: 1px solid #aaa;
  outline: 1px solid #888;
}
div.webs-frame-photocorners {
  position: relative;
  padding: 6px;
  background: #fff;
  border: 1px solid #273531;
}
div.webs-frame-photocorners div.webs-frame-pc-all {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: url('../images/frames/photo-corners.png') no-repeat 0 0;
}
div.webs-frame-photocorners div.webs-frame-pc-tl {
  background-position: 0 0;
  left: -4px;
  top: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-tr {
  background-position: 100% 0;
  right: -4px;
  top: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-bl {
  background-position: 0 100%;
  left: -4px;
  bottom: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-br {
  background-position: 100% 100%;
  right: -4px;
  bottom: -4px;
}



/* Module Styles */


/* Module: header_editor, Style: default */
.w-header-layer {
  position: absolute;
}
.webs-frame .w-header-layer {
  position: static;
}
.w-header-text {
  white-space: nowrap;
  width: auto;
}
.w-header-layer-delete,
.w-header-layer-overlap {
  display: none;
}
.w-header-layer-align-left .w-header-text {
  text-align: left;
}
.w-header-layer-align-right .w-header-text {
  text-align: right;
}
.w-header-layer-centered {
  right: auto;
  left: 50%;
}
.w-header-layer-centered .w-header-layer-container {
  position: relative;
  left: -50%;
}
.w-header-layer-align-center .w-header-text {
  text-align: center;
}
.w-header-layer-image .w-header-image {
  width: 100%;
  height: 100%;
}
#webs-header .webs-container,
.webs-content-header .webs-container {
  padding: 0;
}


/* Module: image, Style: default */
.webs-image-wrapper-1 {
  display: inline-block;
  position: relative;
}
.webs-image-crop {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.webs-image-crop img {
  width: 100%;
}
.webs-module-image .webs-align-left,
.webs-module-image .webs-align-center,
.webs-module-image .webs-align-right {
  font-size: 0;
}
/* alignment */
.webs-image-left {
  float: left;
  display: block;
  width: auto;
}
.webs-image-right {
  float: right;
  display: block;
  width: auto;
}
.webs-image-center {
  float: none;
  margin: 0 auto;
  display: block;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link {
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -33px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font: 900 60px/1em sans-serif;
  color: white;
  z-index: 2;
  opacity: 0;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:after {
  content: "+";
  text-indent: -9999px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font: 900 30px/1em sans-serif;
  color: white;
  z-index: 1;
  opacity: 0;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:hover {
  text-decoration: none;
  width: 500%;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:hover:before {
  opacity: .8;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:hover:after {
  opacity: .3;
}


/* Module: html, Style: base */
.w-custom-html b,
.w-custom-html strong {
  font-weight: bolder;
}
.w-custom-html u {
  text-decoration: underline;
}
.w-custom-html i,
.w-custom-html em {
  font-style: italic;
}
.w-custom-html strike,
.w-custom-html del {
  font-style: strikethrough;
}
.w-custom-html big {
  font-size: bigger;
}
.w-custom-html small {
  font-size: smaller;
}
.w-custom-html p {
  margin: 1em 0;
}
.w-custom-html blockquote {
  margin: 1em 40px;
}
.w-custom-html h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}
.w-custom-html h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}
.w-custom-html h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}
.w-custom-html h4 {
  font-weight: bold;
  margin: 1.33em 0;
}
.w-custom-html h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}
.w-custom-html h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}
.w-custom-html pre {
  white-space: pre;
  margin: 1em 0;
}
.w-custom-html table {
  border-spacing: 2px;
  border-collapse: separate;
  margin-top: 0;
  margin-bottom: 0;
}
.w-custom-html table[align="center"] > caption {
  margin-left: auto;
  margin-right: auto;
}
.w-custom-html tr {
  vertical-align: inherit;
}
.w-custom-html tbody,
.w-custom-html thead,
.w-custom-html tfoot,
.w-custom-html table > tr {
  vertical-align: middle;
}
.w-custom-html td {
  vertical-align: inherit;
  padding: 1px;
}
.w-custom-html th {
  vertical-align: inherit;
  font-weight: bold;
  padding: 1px;
}
.w-custom-html sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
.w-custom-html sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
.w-custom-html ul,
.w-custom-html menu,
.w-custom-html dir {
  list-style-type: disc;
  padding-left: 40px;
}
.w-custom-html ol {
  list-style-type: decimal;
  margin: 1em 0;
}
.w-custom-html ul ul,
.w-custom-html ul ol,
.w-custom-html ul dir,
.w-custom-html ul menu,
.w-custom-html ul dl,
.w-custom-html ol ul,
.w-custom-html ol ol,
.w-custom-html ol dir,
.w-custom-html ol menu,
.w-custom-html ol dl,
.w-custom-html dir ul,
.w-custom-html dir ol,
.w-custom-html dir dir,
.w-custom-html dir menu,
.w-custom-html dir dl,
.w-custom-html menu ul,
.w-custom-html menu ol,
.w-custom-html menu dir,
.w-custom-html menu menu,
.w-custom-html menu dl,
.w-custom-html dl ul,
.w-custom-html dl ol,
.w-custom-html dl dir,
.w-custom-html dl menu,
.w-custom-html dl dl {
  margin-top: 0;
  margin-bottom: 0;
}
.w-custom-html ol ul,
.w-custom-html ul ul,
.w-custom-html menu ul,
.w-custom-html dir ul,
.w-custom-html ol menu,
.w-custom-html ul menu,
.w-custom-html menu menu,
.w-custom-html dir menu,
.w-custom-html ol dir,
.w-custom-html ul dir,
.w-custom-html menu dir,
.w-custom-html dir dir {
  list-style-type: circle;
}
.w-custom-html ol ol ul,
.w-custom-html ol ul ul,
.w-custom-html ol menu ul,
.w-custom-html ol dir ul,
.w-custom-html ol ol menu,
.w-custom-html ol ul menu,
.w-custom-html ol menu menu,
.w-custom-html ol dir menu,
.w-custom-html ol ol dir,
.w-custom-html ol ul dir,
.w-custom-html ol menu dir,
.w-custom-html ol dir dir,
.w-custom-html ul ol ul,
.w-custom-html ul ul ul,
.w-custom-html ul menu ul,
.w-custom-html ul dir ul,
.w-custom-html ul ol menu,
.w-custom-html ul ul menu,
.w-custom-html ul menu menu,
.w-custom-html ul dir menu,
.w-custom-html ul ol dir,
.w-custom-html ul ul dir,
.w-custom-html ul menu dir,
.w-custom-html ul dir dir,
.w-custom-html menu ol ul,
.w-custom-html menu ul ul,
.w-custom-html menu menu ul,
.w-custom-html menu dir ul,
.w-custom-html menu ol menu,
.w-custom-html menu ul menu,
.w-custom-html menu menu menu,
.w-custom-html menu dir menu,
.w-custom-html menu ol dir,
.w-custom-html menu ul dir,
.w-custom-html menu menu dir,
.w-custom-html menu dir dir,
.w-custom-html dir ol ul,
.w-custom-html dir ul ul,
.w-custom-html dir menu ul,
.w-custom-html dir dir ul,
.w-custom-html dir ol menu,
.w-custom-html dir ul menu,
.w-custom-html dir menu menu,
.w-custom-html dir dir menu,
.w-custom-html dir ol dir,
.w-custom-html dir ul dir,
.w-custom-html dir menu dir,
.w-custom-html dir dir dir {
  list-style-type: square;
}


/* Module: spacer, Style: default */
.webs-container.w-spacer-default {
  padding: 0;
}


/* Module: text_image, Style: default */
.webs-text-image .webs-submodule-image .webs-align-right {
  margin-left: 15px;
  margin-bottom: 15px;
}
.webs-text-image .webs-submodule-image .webs-align-left {
  margin-right: 15px;
  margin-bottom: 15px;
}
.webs-text-image .webs-submodule-image .webs-hasframe {
  margin: 0;
}


/* Module: title, Style: default */
.webs-title {
  line-height: normal;
}
.webs-title.webs-title-align-left {
  text-align: left;
}
.webs-title.webs-title-align-right {
  text-align: right;
}
.webs-title.webs-title-align-center {
  text-align: center;
}
.webs-title.webs-title-align-justify {
  text-align: justify;
}
.webs-title .w-text {
  display: block;
  word-wrap: break-word;
  max-width: 100%;
}
.webs-title.webs-title-has_icon .w-text {
  display: inline;
}
.webs-title p {
  margin: 0;
  padding: 0;
}



/* Theme Module Styles */
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.w-email_list-organic_white_default .w-email_list label {
  color: #666666;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.w-email_list-organic_white_default .w-email_list-li .w-email_list-field {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.w-carousel-organic_white_default {
  overflow: hidden;
}
.w-carousel-organic_white_default .w-carousel {
  position: relative;
  overflow: visible;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.w-carousel-organic_white_default .w-carousel > ul {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.w-carousel-organic_white_default .w-carousel ul li {
  overflow: hidden;
}
.w-carousel-organic_white_default .w-carousel-next,
.w-carousel-organic_white_default .w-carousel-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background: #ffffff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.w-carousel-organic_white_default .w-carousel-next span,
.w-carousel-organic_white_default .w-carousel-prev span {
  display: block;
  height: 0;
  overflow: hidden;
}
.w-carousel-organic_white_default .w-carousel-next:after,
.w-carousel-organic_white_default .w-carousel-prev:after {
  content: ".";
  text-indent: -9999px;
  height: 0;
  width: 0;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: relative;
  top: 15px;
}
.w-carousel-organic_white_default .w-carousel-prev {
  left: -20px;
}
.w-carousel-organic_white_default .w-carousel-prev:after {
  border-right: 6px solid #333333;
  right: -22px;
}
.w-carousel-organic_white_default .w-carousel-prev:hover:after {
  border-right: 6px solid #3399ff;
}
.w-carousel-organic_white_default .w-carousel-next {
  right: -20px;
  left: auto;
}
.w-carousel-organic_white_default .w-carousel-next:after {
  border-left: 6px solid #333333;
  left: 13px;
}
.w-carousel-organic_white_default .w-carousel-next:hover:after {
  border-left: 6px solid #3399ff;
}
.w-carousel-organic_white_default .w-carousel-index {
  display: none;
}
.w-carousel-organic_white_default .w-carousel ul li.incoming,
.w-carousel-organic_white_default .w-carousel ul li.outgoing {
  top: auto;
}
.w-carousel-organic_white_default .w-carousel-description {
  background: rgba(255, 255, 255, 0.75);
  bottom: 20px;
  top: auto;
  right: 20px;
  width: 880px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.w-carousel-organic_white_default .w-carousel-title {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  line-height: 20px;
  color: #3399ff;
  text-shadow: 0 1px 1px rgba(204, 204, 204, 0.85);
}
.w-carousel-organic_white_default .w-carousel-text {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: ;
}
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.w-button-organic_white_default .w-button {
  background: #666666;
  color: #dedad7;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  margin: 0;
  line-height: 20px;
  border: none;
}
.w-button-organic_white_default .w-button:hover {
  background: #3399ff;
  color: #ffffff;
  text-decoration: none;
}
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.w-table-organic_white_default .webs-table-wrap .webs-table {
  border: none;
}
.w-table-organic_white_default .webs-table-wrap .webs-table > thead > tr > td {
  background: #dedad7 url("http://www.corrective-security-action.com/backEdited.png") repeat fixed 0 0;
  text-transform: uppercase;
  border-color: transparent;
}
.w-table-organic_white_default .webs-table-wrap .webs-table > thead > tr > td .webs-text {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
}
.w-table-organic_white_default .webs-table-wrap .webs-table > thead > tr > td:first-child {
  -moz-border-radius-top-left: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottom-left: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.w-table-organic_white_default .webs-table-wrap .webs-table > thead > tr > td:last-child {
  -moz-border-radius-top-right: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottom-right: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.w-table-organic_white_default .webs-table-wrap .webs-table > tbody > tr > td {
  border-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.07);
}
.w-table-organic_white_default .webs-table-wrap .webs-table > tbody > tr.even > td {
  background-color: transparent;
}
.w-table-organic_white_default .webs-table-wrap .webs-table > tbody > tr > td {
  border-color: #e1e1e1;
  border-color: rgba(0, 0, 0, 0.07);
}
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.w-contact_form-organic_white_default .w-contact_form label {
  color: #666666;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.w-contact_form-organic_white_default .w-contact_form-li > .w-contact_form-input .w-contact_form-field {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
